/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.heading__primary {
  font-weight: 900;
  font-size: 7rem;
  color: white;
  letter-spacing: 5px;
}

@media only screen and (max-width: 37.5em) {
  .heading__primary {
    font-size: 5.5rem;
  }
}

.heading__secondary {
  font-weight: 500;
  font-size: 5rem;
  color: white;
  letter-spacing: 8px;
}

@media only screen and (max-width: 37.5em) {
  .heading__secondary {
    font-size: 3.5rem;
  }
}

.heading__tertiary {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
}

.heading__large {
  font-size: 16rem;
  letter-spacing: 16px;
  z-index: 1;
  color: #282828;
}

@media only screen and (max-width: 75em) {
  .heading__large {
    font-size: 12rem;
  }
}

@media only screen and (min-width: 75em) and (max-width: 112.5em) {
  .heading__large {
    font-size: 14rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading__large {
    font-size: 9rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading__large {
    display: none;
    visibility: hidden;
  }
}

.title__block {
  padding: 1rem 0;
  text-align: center;
  background: #222;
  color: white;
}

.title__block--normal {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.para {
  color: #585252;
  font-family: "Roboto";
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 700;
}

.about__para {
  margin: 3rem 0 2rem 0;
}

.heading__quad {
  font-size: 2.5rem;
  color: white;
}

@-webkit-keyframes animateColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animateColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes animateLeft {
  0% {
    opacity: 0;
    bottom: -40rem;
    left: -40rem;
  }
  100% {
    opacity: 1;
    bottom: -10rem;
    left: -7rem;
  }
}

@keyframes animateLeft {
  0% {
    opacity: 0;
    bottom: -40rem;
    left: -40rem;
  }
  100% {
    opacity: 1;
    bottom: -10rem;
    left: -7rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  background: #222;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  .container {
    width: 96rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    width: 72rem;
  }
}

@media only screen and (min-width: 75em) and (max-width: 112.5em) {
  .container {
    width: 114rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    width: 90%;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lspace-1 {
  letter-spacing: 1px;
}

.lspace-2 {
  letter-spacing: 2px;
}

.lspace-3 {
  letter-spacing: 3px;
}

.lspace-4 {
  letter-spacing: 4px;
}

.lspace-medium {
  letter-spacing: 6px;
}

.lspace-large {
  letter-spacing: 8px;
}

.text-heavy {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-large {
  margin-top: 8rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 8rem 0;
}

.button {
  display: inline-block;
  background: #58b19f;
  padding: 1.3rem 1.8rem;
  border: none;
  outline: none;
  color: white;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}

.card {
  background: #333;
  -webkit-box-shadow: rgba(34, 34, 34, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(34, 34, 34, 0.2) 0px 2px 8px 0px;
  padding: 4rem 3rem 2rem 3rem;
  width: 85%;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: justify;
  border-radius: 4px;
  color: #585252;
}

@media only screen and (max-width: 37.5em) {
  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .card {
    width: 80%;
    padding: 4rem;
  }
}

@media only screen and (max-width: 75em) {
  .card {
    width: 100%;
    padding: 4rem;
  }
}

@media only screen and (min-width: 75em) and (max-width: 112.5em) {
  .card {
    padding: 4rem 2rem;
    width: 95%;
  }
}

.card__title {
  color: #58b19f;
  font-weight: 900;
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

.card__footer {
  margin-top: 2rem;
  font-size: 2rem;
}

.navigation__checkbox {
  visibility: hidden;
  display: none;
}

.navigation__button {
  position: fixed;
  top: 5.5rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 20;
  height: 6rem;
  width: 6rem;
  background: white;
  z-index: 20;
  cursor: pointer;
}

.navigation__icon {
  position: relative;
  margin-top: 3rem;
  margin-left: 1.5rem;
}

.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  height: 0.2rem;
  width: 3rem;
  background: #111;
  display: inline-block;
}

.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon:hover, .navigation__icon:active {
  background-position: 100%;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__background {
  position: fixed;
  height: 5rem;
  width: 5rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#222, #333);
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navigation__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  z-index: 15;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  padding: 2rem 0;
}

.navigation__link {
  text-decoration: none;
  color: white;
  font-size: 5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(100);
          transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__checkbox:not(:checked) ~ .navigation__nav {
  display: none;
  visibility: none;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.section__about {
  background: #222;
  padding: 20rem 0 20rem 0;
}

@media only screen and (max-width: 37.5em) {
  .section__about {
    padding: 10rem 0 10rem 0;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 75em) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__image {
  background-image: url("../../img/zubin.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50rem;
  width: 50%;
}

@media only screen and (max-width: 37.5em) {
  .about__image {
    width: 100%;
    background-position: top;
    background-size: cover;
    height: 40rem;
  }
}

@media only screen and (max-width: 75em) {
  .about__image {
    width: 100%;
    background-position: top;
    background-size: cover;
  }
}

@media only screen and (max-width: 56.25em) {
  .about__image {
    width: 100%;
    background-position: top;
    background-size: cover;
  }
}

.about__content {
  width: 50%;
  line-height: 1.7;
}

@media only screen and (max-width: 37.5em) {
  .about__content {
    width: 100%;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 75em) {
  .about__content {
    width: 100%;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .about__content {
    width: 100%;
    margin-top: 5rem;
  }
}

.about__content--wrapper {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .about__content--wrapper {
    width: 100%;
    text-align: justify;
  }
}

@media only screen and (max-width: 75em) {
  .about__content--wrapper {
    width: 100%;
    text-align: justify;
  }
}

@media only screen and (max-width: 56.25em) {
  .about__content--wrapper {
    width: 100%;
    text-align: justify;
  }
}

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

@media only screen and (max-width: 75em) {
  .header {
    height: 70vh;
  }
}

.header__backgroundText {
  position: absolute;
}

.header__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 300% 300%;
  background-color: #222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.portfolio {
  background-color: #222;
  overflow: hidden;
  line-height: 0;
}

.portfolio .flex__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
}

@media only screen and (max-width: 75em) {
  .portfolio .flex__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio .strech {
  width: 33.3333%;
  height: 50rem;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 75em) {
  .portfolio .strech {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .portfolio .strech {
    width: 70%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .portfolio .strech {
    width: 90%;
    height: 40rem;
    margin-bottom: 1rem;
  }
}

.portfolio .strech__wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portfolio .strech__hover {
  position: relative;
  background: #007bff;
  width: 40rem;
  height: 40rem;
  position: absolute;
  bottom: -10rem;
  left: -7rem;
  opacity: 0;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.portfolio .strech__hover:hover {
  opacity: 1;
  -webkit-animation: ease 0.4s animateLeft forwards;
          animation: ease 0.4s animateLeft forwards;
}

@media only screen and (max-width: 37.5em) {
  .portfolio .strech__hover {
    width: 30rem;
    height: 30rem;
    opacity: 1;
  }
}

.portfolio .strech__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio .strech__title {
  font-size: 4rem;
  color: #f1f1f1;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .portfolio .strech__title {
    font-size: 3rem;
    padding-left: 2rem;
  }
}

.portfolio img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-position: center;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media only screen and (max-width: 37.5em) {
  .portfolio img {
    background-position: left;
    background-size: cover;
  }
}

@media only screen and (max-width: 75em) {
  .portfolio img {
    background-position: center;
    background-size: cover;
  }
}

.portfolio img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio img:hover ~ .strech__hover {
  -webkit-animation: ease 0.4s animateLeft forwards;
          animation: ease 0.4s animateLeft forwards;
}

.section__resume {
  background: #222;
  padding: 10rem 0 20rem 0;
}

@media only screen and (max-width: 37.5em) {
  .section__resume {
    padding: 10rem 0;
  }
}

@media only screen and (max-width: 75em) {
  .section__resume {
    padding: 4rem 0 8rem 0;
  }
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 75em) {
  .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.resume__education {
  width: 50%;
}

@media only screen and (max-width: 37.5em) {
  .resume__education {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .resume__education {
    width: 80%;
  }
}

@media only screen and (max-width: 75em) {
  .resume__education {
    width: 100%;
  }
}

.resume__experience {
  width: 50%;
}

@media only screen and (max-width: 37.5em) {
  .resume__experience {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .resume__experience {
    width: 80%;
  }
}

@media only screen and (max-width: 75em) {
  .resume__experience {
    width: 100%;
  }
}

.footer {
  padding: 10rem 0;
  background: #111;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 3rem 0;
}

.footer__link {
  background: #222;
  border-radius: 50%;
  padding: 2rem;
  margin-right: 1.3rem;
}

.footer__link > i {
  font-size: 3rem;
  color: #7d7b79;
}

.footer__link > i:hover {
  color: white;
}

.footer__title {
  font-weight: 900 !important;
  font-size: 3rem !important;
}

.footer__text {
  color: white;
  font-size: 3rem;
  font-weight: 300;
}

.section__skills {
  padding: 10rem 0;
  background: #222;
  min-height: 100vh;
}

@media only screen and (max-width: 37.5em) {
  .section__skills {
    min-height: 30vh;
    padding: 5rem 0;
  }
}

@media only screen and (max-width: 75em) {
  .section__skills {
    min-height: 50vh;
    padding: 5rem 0;
  }
}

.skills__box {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__image {
  width: 8rem;
  cursor: pointer;
  -webkit-animation: 1s ease fadeOut;
          animation: 1s ease fadeOut;
}

.skills__image > i {
  font-size: 8rem;
}

.skills__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.skills__caption {
  opacity: 0;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  -webkit-animation: 0.5s ease fadeOutCaption forwards;
          animation: 0.5s ease fadeOutCaption forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeOutCaption {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeOutCaption {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes TranslateUP {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes TranslateUP {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */