@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.heading__primary {
  font-weight: 900;
  font-size: 7rem;
  color: white;
  letter-spacing: 5px;
}

.heading__secondary {
  font-weight: 500;
  font-size: 5rem;
  color: white;
  letter-spacing: 8px;
}

.heading__tertiary {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
}

.title__block {
  padding: 1rem 0;
  text-align: center;
  background: #222;
  color: white;
}

.title__block--normal {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.para {
  color: #585252;
  font-family: "Roboto";
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 700;
}

.about__para {
  margin: 3rem 0 2rem 0;
}

.heading__quad {
  font-size: 2.5rem;
  color: white;
}

@-webkit-keyframes animateColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animateColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.7;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lspace-1 {
  letter-spacing: 1px;
}

.lspace-2 {
  letter-spacing: 2px;
}

.lspace-3 {
  letter-spacing: 3px;
}

.lspace-4 {
  letter-spacing: 4px;
}

.lspace-medium {
  letter-spacing: 6px;
}

.lspace-large {
  letter-spacing: 8px;
}

.text-heavy {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-large {
  margin-top: 8rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 8rem 0;
}

.button {
  display: inline-block;
  background: #58b19f;
  padding: 1.3rem 1.8rem;
  border: none;
  outline: none;
  color: white;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}

.card {
  background: #333;
  -webkit-box-shadow: rgba(34, 34, 34, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(34, 34, 34, 0.2) 0px 2px 8px 0px;
  padding: 4rem 3rem 2rem 3rem;
  width: 85%;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: justify;
  border-radius: 4px;
  color: #585252;
}

.card__title {
  color: #58b19f;
  font-weight: 900;
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

.card__footer {
  margin-top: 2rem;
  font-size: 2rem;
}

.navigation__checkbox {
  visibility: hidden;
}

.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 20;
  height: 6rem;
  width: 6rem;
  background: white;
}

.navigation__background {
  position: fixed;
  height: 5rem;
  width: 5rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#222, #333);
  z-index: 10;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(100);
          transform: scale(100);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.section__about {
  background: #222;
  padding: 20rem 0 20rem 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  background-image: url("../../img/zubin.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50rem;
  width: 50%;
}

.about__content {
  width: 50%;
  line-height: 1.7;
}

.about__content--wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.header__backgroundText {
  position: absolute;
}

.header .heading__large {
  font-size: 16rem;
  letter-spacing: 16px;
  z-index: 1;
  color: #282828;
}

.header__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 300% 300%;
  background-color: #222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.portfolio {
  background-color: #222;
  overflow: hidden;
  line-height: 0;
}

.portfolio .flex__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
}

.portfolio .card {
  width: 33.3333%;
  height: 50rem;
  overflow: hidden;
}

.portfolio .card__wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-position: center;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.portfolio img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.section__resume {
  background: #222;
  padding: 10rem 0 20rem 0;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__education {
  width: 50%;
}

.resume__experience {
  width: 50%;
}

.footer {
  padding: 10rem 0;
  background: #111;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 3rem 0;
}

.footer__link {
  background: #222;
  border-radius: 50%;
  padding: 2rem;
  margin-right: 1.3rem;
}

.footer__link > i {
  font-size: 3rem;
  color: #7d7b79;
}

.footer__link > i:hover {
  color: white;
}

.footer__text {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
}

.section__skills {
  padding: 10rem 0;
  background: #222;
  min-height: 100vh;
}

.skills__box {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__image {
  width: 8rem;
  cursor: pointer;
  -webkit-animation: 1s ease fadeOut;
          animation: 1s ease fadeOut;
}

.skills__image > i {
  font-size: 8rem;
}

.skills__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.skills__caption {
  opacity: 0;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  -webkit-animation: 0.5s ease fadeOutCaption forwards;
          animation: 0.5s ease fadeOutCaption forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeOutCaption {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeOutCaption {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes TranslateUP {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes TranslateUP {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */