.footer {
  padding: 10rem 0;
  background: #111;

  &__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem 0;
  }

  &__link {
    background: #222;
    border-radius: 50%;
    padding: 2rem;
    margin-right: 1.3rem;

    & > i {
      font-size: 3rem;
      color: #7d7b79;

      &:hover {
        color: white;
      }
    }
  }

  &__text {
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
  }
}
