.header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;

  @include respond(tab-land) {
    height: 70vh;
  }

  &__backgroundText {
    position: absolute;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: 300% 300%;
    background-color: #222;
    align-items: center;
  }

  &__content {
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
  }
}
