.portfolio {
  background-color: #222;
  overflow: hidden;
  line-height: 0;

  .flex__content {
    display: flex;
    flex: 1 1 1;
  }

  .card {
    width: 33.3333%;
    height: 50rem;
    overflow: hidden;
    &__wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

  img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: all ease 0.5s;
    &:hover {
      transform: scale(1);
    }
  }
}
