.button {
  display: inline-block;
  background: $color-shaded-green;
  padding: 1.3rem 1.8rem;
  border: none;
  outline: none;
  color: $color-white;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}
