.card {
  background: $color-primary-dark;
  box-shadow: rgba($color-primary, 0.2) 0px 2px 8px 0px;
  padding: 4rem 3rem 2rem 3rem;
  width: 85%;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: justify;
  border-radius: 4px;
  color: $color-primary-light;

  @include respond(phone) {
    width: 100%;
  }
  @include respond(tab-port) {
    width: 80%;
    padding: 4rem;
  }

  @include respond(tab-land) {
    width: 100%;
    padding: 4rem;
  }

  @include respond(desktop) {
    padding: 4rem 2rem;
    width: 95%;
  }

  &__title {
    color: $color-shaded-green;
    font-weight: 900;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
  }

  &__footer {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
