// Roboto - 300, 400, 500, 700, 900
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.heading {
  &__primary {
    font-weight: 900;
    font-size: 7rem;
    color: $color-white;
    letter-spacing: 5px;

    @include respond(phone) {
      font-size: 5.5rem;
    }
  }

  &__secondary {
    font-weight: 500;
    font-size: 5rem;
    color: white;
    letter-spacing: 8px;
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }

  &__tertiary {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
  }

  &__large {
    font-size: 16rem;
    letter-spacing: 16px;
    z-index: 1;
    color: lighten($color: $color-primary, $amount: 2.5);

    @include respond(tab-land) {
      font-size: 12rem;
    }

    @include respond(desktop) {
      font-size: 14rem;
    }

    @include respond(tab-port) {
      font-size: 9rem;
    }

    @include respond(phone) {
      display: none;
      visibility: hidden;
    }
  }
}

.title__block {
  padding: 1rem 0;
  text-align: center;
  background: $color-primary;
  color: $color-white;

  &--normal {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

.para {
  color: rgb(88, 82, 82);
  font-family: "Roboto";
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 700;
}

.about__para {
  margin: 3rem 0 2rem 0;
}

.heading__quad {
  font-size: 2.5rem;
  color: $color-white;
}
