.container {
  width: 140rem;
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lspace-1 {
  letter-spacing: 1px;
}
.lspace-2 {
  letter-spacing: 2px;
}
.lspace-3 {
  letter-spacing: 3px;
}

.lspace-4 {
  letter-spacing: 4px;
}

.lspace-medium {
  letter-spacing: 6px;
}

.lspace-large {
  letter-spacing: 8px;
}

.text-heavy {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mt-large {
  margin-top: 8rem;
}
