.portfolio {
  background-color: #222;
  overflow: hidden;
  line-height: 0;

  .flex__content {
    display: flex;
    flex: 1 1 1;
  }

  .card {
    width: 33.3333%;
    height: 50rem;
    overflow: hidden;
    &__wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

  img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: all ease 0.5s;
    &:hover {
      transform: scale(1);
    }
  }
}

.section__about {
  background: #222;
  padding: 20rem 0 10rem 0;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    background-image: url("../../img/5.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    width: 50%;
  }

  &__content {
    width: 50%;
    line-height: 1.7;

    &--wrapper {
      width: 80%;
      margin: 0 auto;
    }
  }
}
